/*
** CONFIG.SCSS
**
** Table of Contents
** 
** 1. Colors
** 2. Columns
**
*/

/*** 1. COLORS ***/

$colors: 	("primary", 	  #D8D8D8),  
				("secondary", 	#FF9E1B),
				("tertiary", 		#FFCD00),
				("black", 		    #373A36),
				("white",		    #FFFFFF);

/*** 2. COLUMNS ***/

$columns: 12;

// spacing for columns

$spacing:  (xsmall,	1em),
				(small,		2em),
				(med,		4em),
				(large,		8em),
				(xlarge,	12em);

