h1,h2,h3,h4,h5,p,li,span,a{
	font-family: 'Lato', sans-serif;
}


.title{
	font-size: em(48);
	line-height: em(16);
	font-weight: 900;

	&--margin-bottom{
		margin-bottom: em(16);
	}	
}

.subtitle{
	font-size: em(48);
	line-height: em(16);

	&--margin-bottom{
		margin-bottom: em(16);
	}
}

.header3{
	font-weight: 800;
}

.header4{
	font-weight: 900;
	
	&--upcase{
		text-transform: uppercase;
	}
}

.header5{
	font-size: em(14.4);
	margin-bottom: em(8);
	display: block;
}

.ol__list-item{
	display: list-item;
	list-style: decimal;
	margin-bottom: em(32);
}

.ul_list-item{
	display: list-item;
	list-style: disc;
	margin-bottom: em(16);
	margin-left: em(24);;
}

.para{
	font-family: 'Lato', sans-serif;
	line-height: em(22.4);
	font-weight: 300;
	font-size: em(17.6);

	&--margin-top{
		margin-top: em(32);
	}
}