h1,h2,h3,h4,h5,p,li,span,a{
	font-family: 'Lato', sans-serif;
}

.--align-center{
	text-align: center;

	h1, h2, h3, h4, h5, p{
		margin-right: auto;
		margin-left: auto;
	}

}

.--align-left{
	text-align: left;
}

.--align-right{
	text-align: right;
}

.--h1{
	font-family: 'Lato', sans-serif;
	font-size: 3em;
	margin-bottom: 1em;
	line-height: 1em;
	font-weight: 900;
}

.--h2{
	font-size: 2em;
	line-height: 1em;
	margin-bottom: 1em;
}

.--h3{
	font-family: 'Lato', sans-serif;
	font-weight: 800;
}

.--h4{
	font-family: 'Lato', sans-serif;
	@extend .--color-orange;
	font-weight: 900;
	text-transform: uppercase;
}

.--h5{
	font-size: .9em;
	margin-bottom: .5em;
	display: block;
}

ol li{
	display: list-item;
	list-style: decimal;
	margin-bottom: 2em;
}

ul li{
	display: list-item;
	list-style: disc;
	margin-bottom: 1em;
	margin-left: 1.5em;
}

p, .--p{
	font-family: 'Lato', sans-serif;
	line-height: 1.4em;
	font-weight: 300;
	font-size: 1.1em;

	+ p, + .--p{
		margin-top: 2em;
	}
}